* {
    box-sizing: border-box;
}

body {
    position: relative;
    background-color:  #FFF;
}

.container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    background-color: #fff;
    &-sticky {
        position: sticky;
        top:0;
    }
    }

