.featured-dog {
    padding: $main-spacing;
    border: 1px solid $border-color;
    display: flex;
}

.featured-dog__wrapper {
    flex: 1;
    height: 400px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.featured-dog__background {
    position: absolute;
    top: 0;
    left: 0;
    // trick na ciekawy efekt tla
    width: 110%;
    height: 110%;
    margin: -5%;
    padding: $main-spacing;
    background-color: grey;
    filter: blur(15px);
    background-size: cover;

}

.featured-dog__image {
    position: relative;
    z-index: 2;
}

img {
    width: 100%;
    max-height: 100%;
}

.featured-dog__description {
    padding: 0 $main-spacing;
    flex: 1;
}