.spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    &__content {
        width: 40px;
        height: 40px;
        background-color: $primary-color;
        animation: rotateplane 1.5s infinite ease-in-out;
    }
    &--visible {
        display: flex;
    }
}


@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    0% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}

